# Строка для подключения к прокси
CLAUDE_PROXY=relay+wss://username:password@xx.xx.xx.xx:relay_port
#CLAUDE_PROXY=http://username:password@xx.xx.xx.xx:http_port
#CLAUDE_PROXY=socks5://username:password@xx.xx.xx.xx:socks5_port
#CLAUDE_PROXY=ss+wss://ss_cipher:password@xx.xx.xx.xx:ss_port

# Путь к репозиторию с кодом проекта
PROJECT_DIR=/some/path/
